@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}
